@use 'reset';
@import 'variables';
@import 'mixins';
@import 'nav';
@import 'somos';
@import 'contacto';

//p {
//    font-size: $font-size;
//    border: $border;
//}

//span{
//    font-size: $font-size-span;
//    color: yellow;
//}

#title{
    font-size: $font-size;
    border: $border;
}

.saludo{
    justify-content: $align-saludos ;
    span{
        color: $color-saludo;
        @include message-style;
        background-color: gray;

        @media screen and (max-width: 768px) {
            @include style-saludo-media(red);
        }

        @media screen and (max-width: 425px) {
            @include style-saludo-media(yellow);
        }
    }
}

.respuesta{
    justify-content: $align-respuesta;
    span{
        color: $color-respuesta;
        @include message-style;
        background-color: aqua;
    }
}

.container{
    margin: 24px;
    display: flex;
}

