/*div{
    display: flex;
    justify-content: center;
        form{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            }
    }*/

#carouselExampleSlidesOnly {
    width: 500px; 
    height: 200px;
    margin: 20px;
    display: flex;

}

.card {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 20px;
}